body
  background-color $primary-background
  color $primary-color
  font-family "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
  padding 15px

// Headings
h1
  font-size 46px

h2
  font-size 28px
